.child-form {
    display: flex;
    gap: var(--space-small-plus);

    .child-form__fields {
        display: flex;
        gap: var(--space-small-plus);
        align-items: flex-start;
        width: var(--width-max)
    }
}
@media screen and (max-width: 425px) {
    .child-form {
        flex-direction: column;
        align-items: flex-end;
        gap: 0;
    }
}