li,
p {
  font-weight: 500;
}

body {
  font-family: var(--base-font);
  position: relative;
  overflow-x: hidden;
}
button {
  font-family: var(--base-font);
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
p {
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}
