:root {
  --gray-color: rgba(17, 17, 17, 0.48);
}

:root {
  --border-radius: 5px;
}

:root {
  --base-font: 'Montserrat', sans-serif;
  --h1-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --card-title-desktop-font-size: 1rem;
  --card-title-mobile-font-size: 0.875rem;
}

:root {
  --width-xs: 103px;
  --width-s: 206px;
  --width-m: 310px;
}

:root {
  --space-x-small: 4px;
  --space-smaller: 8px;
  --space-small: 12px;
  --space-small-plus: 16px;
  --space-medium: 20px;
  --space-medium-plus: 24px;
  --space-large: 28px;
  --space-large-plus: 32px;
  --space-x-large: 36px;
  --space-x-large-plus: 40px;
  --space-xx-large: 44px;
  --space-xx-large-plus: 48px;
  --space-big: 52px;
  --space-big-plus: 56px;
  --space-x-big: 60px;
  --space-x-big-plus: 64px;
}
