:root {
  --gray-color: rgba(17, 17, 17, 0.48);
  --light-color: rgba(17, 17, 17, 0.1);
  --input-color: rgba(241, 241, 241, 1);
  --blue-color: rgba(1, 167, 253, 1);
  --error-color: rgba(255, 0, 0, 1);
}

:root {
  --border-radius: 4px;
  --border-radius-max: 100px;
}

:root {
  --base-font: 'Montserrat', sans-serif;
  --error-font-size: 13px;
  --block-font-size: 13px;
  --base-font-size: 14px;
  --h1-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --card-title-desktop-font-size: 1rem;
  --card-title-mobile-font-size: 0.875rem;
}

:root {
  --width-max: 100%;
  --width-content: 1366px;
  --width-xs: 616px;
  --width-s: 206px;
  --width-m: 310px;
}

:root {
  --space-x-small: 5px;
  --space-smaller: 10px;
  --space-small: 13px;
  --space-small-plus: 18px;
  --space-medium: 20px;
  --space-medium-plus: 22px;
  --space-large: 30px;
  --space-x-large: 40px;
  --space-x-large-plus: 42px;
  --space-big: 60px;
  --space-xx-large: 44px;
  --space-xx-large-plus: 48px;
  --space-big-plus: 56px;
  --space-x-big: 60px;
  --space-x-big-plus: 64px;
}
