.header {
    width: var(--width-max);
    padding: var(--space-medium-plus) var(--space-big);
    display: flex;
    align-items: center;

   .header__nav {
       display: flex;
       justify-content: center;
       flex-grow: 1;
       gap: var(--space-medium-plus);

       .header__nav-link {
            color: var(--gray-color);
       }
    }
}
.border-header {
    width: var(--width-max);
    height: 1px;
    background-color: var(--light-color);
}