.form-input {
    border-radius: var(--border-radius);
    border: 1px solid var(--input-color);
    padding-left: var(--space-smaller);
    padding-top: var(--space-medium);
    width: var(--width-max);
    outline: none;
    height: 56px;
    transition: border-color 0.3s ease;
    -moz-appearance: textfield;
}

.form-input:focus {
    border-color: var(--blue-color);
}

.form-input--error,  .form-input--error:focus {
    border-color: var(--error-color);
}

.form-input::-webkit-inner-spin-button,
.form-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}