.form-input {
    border-radius: var(--border-radius);
    border: 1px solid var(--input-color);
    padding-left: var(--space-smaller);
    padding-top: var(--space-medium);
    width: var(--width-max);
    outline: none;
    height: 56px;
    transition: border-color 0.3s ease;
}

.form-input:focus {
    border-color: var(--blue-color);
}